.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    /* border: 2px solid #ffa500; */
  }
  
/* Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between elements if necessary */
}


